*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    width: 70%;
    margin: auto;
    
}
/* <!-- Inizio Header --> */
header{
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    width: 1550px;    
    height: 120px;
    padding-left: 75px;
    margin-left: 75px;
    background-color: rgb(67, 149, 243);   
}

.logo-svg{
    padding-top: 45px;
    width: 300px;
    height: 150px;
    margin-left: 170px;
    padding-left: 30px;
}
/* Fine Header */

/* Inizio container */
.container{
    text-align: justify;
    width:60%;
    margin: auto;
    padding-top:20px;
}
/* Fine container */

/* Inizio titolo */
.scritto-style{
    color: gray;
    font-size: 16px; 
}
.scritto-style2{
    color: gray;
    font-size: 9px; 
}
.booleaner-style{
    color: rgb(96, 180, 236);
    font-size: 16px;
    
}
/* Fine titolo */

/* Inizio foto */
.img-tim{
    padding-top: 20px;
}
.font-p{
    font-size: 12px;
}
/* Fine foto */

/* Inizio tabela */
.table-row{
    table-layout: fixed;
    border-spacing: 0;
    padding-top: 20px;
    height: 200px;
}
thead{
    
    color: white;
    background-color: rgb(87, 170, 248);
}
th{
    height: 20px;
}
td{
    height: 50px;
}

.tbody1{
    background-color: rgb(162, 234, 247);
       
}
.tbody2{
    background-color: white;
}
.tbody3{
    background-color: rgb(162, 234, 247);
}
.tbody3-width{
    width: 50%;
}
/* Fine tabela */

/* Inizio paragrafo */
.div-p{
    padding-top: 20px;
}
.text-style{
    background-color: yellow ;    
}
/* Fine paragrafo */

/* Inizio paragrafo e list */
.p-style{
    padding-top: 20px;
}
.list-style{
    padding-top: 20px;
}
/* Inizio paragrafo e list */

/* Inizio footer */
.footer{
    padding-top: 20px;
    width:60%;
    margin: auto;

}
.fotter-p{
    color: gray;
    font-size: 22px;
    padding-bottom: 10px;
}
/* Fine footer */
